@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: static;
  top: 0;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
}

.side_column {
  width: 20%;
  height: fill;
  text-align: center;
}

.main_column {
  width: 60%;
  height: fill;
  text-align: center;
  display: flex;
}

.inner_column {
  width: 50%;
  height: fill;
  text-align: center;
}